@charset "IBM437";
* {
  -webkit-box-sizing: border-box;
  /* Android ≤ 2.3, iOS ≤ 4 */
  -moz-box-sizing: border-box;
  /* Firefox 1+ */
  box-sizing: border-box;
  /* Chrome, IE 8+, Opera, Safari 5.1 */ }

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%; }

body {
  height: 10000px; }

.container {
  margin: 0;
  position: fixed;
  width: 100%;
  height: 100%; }

.loader {
  background: green;
  color: white;
  font-size: 30px;
  margin: 0px auto;
  width: 300px; }

.galaxy_bg, .opaque, .stars_1, .stars_2, .stars_3, .stars_4, .stars_5,
.stars_6, .clouds_1, .clouds_2, .clouds_3, .clouds_4, .div1,
.r, .uthie, .swirl-1, .nav_container, .ruthie_container, .ruthie_pic, .ruthie_wings,
.ruthie_text, .black_opaque, .web_zealot, .scroll_down {
  position: absolute; }

.galaxy_bg {
  background: url(../images/galaxy.jpg) top center;
  width: 100%;
  height: 110%;
  top: 0%;
  left: 0%;
  position: absolute;
  z-index: -1; }

.opaque {
  background: url(../images/white-opaque.png);
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  z-index: -90;
  top: 0px;
  left: 0px; }

.stars_1 {
  width: 1000px;
  height: 500px;
  background: url(../images/stars-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  right: 0px;
  top: 1000px; }

.stars_2 {
  width: 1000px;
  height: 500px;
  background: url(../images/stars-2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  top: 0px; }

.stars_3 {
  background: url(../images/stars-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 1000px;
  height: 400px;
  left: 0;
  top: 0px; }

.stars_4 {
  background: url(../images/stars-2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 1600px;
  height: 500px;
  right: 0;
  top: 0px; }

.stars_5 {
  background: url(../images/stars-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 1600px;
  height: 500px;
  right: 0;
  top: 300px; }

.stars_6 {
  background: url(../images/stars-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 1600px;
  height: 500px;
  right: 0;
  top: 0px; }

.clouds_1 {
  background: url(../images/clouds-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 1600px;
  height: 500px;
  left: 0;
  top: 200px; }

.clouds_2 {
  background: url(../images/clouds-2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 1000px;
  height: 704px;
  right: 0;
  top: 0px; }

.clouds_3 {
  background: url(../images/clouds-3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 1000px;
  height: 704px;
  left: 0;
  top: 500px; }

.clouds_4 {
  background: url(../images/clouds-4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 1000px;
  height: 322px;
  right: 0;
  top: 600px; }

.r {
  background: url(../images/r.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 186px;
  height: 267px;
  left: 100px;
  top: -50%;
  opacity: 0; }

.uthie {
  background: url(../images/uthie.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 374px;
  height: 95px;
  left: 250px;
  top: -50%;
  opacity: 0; }

.swirl-1 {
  background: url(../images/swirl-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 840px;
  height: 380px;
  right: -1000px;
  top: 0%; }

.scroll_down {
  font-family: "calibri";
  font-size: 30px;
  color: white;
  top: 10%;
  left: 0;
  right: 0;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 256px;
  height: 400px;
  text-align: center;
  display: none;
  opacity: 1; }

.ruthie_container {
  width: 800px;
  height: 826px;
  left: -100%;
  top: 15%;
  opacity: 0; }
  .ruthie_container .ruthie_pic {
    background: url(../images/ruthie.png);
    background-repeat: no-repeat;
    background-position: top-right;
    color: white;
    width: 203px;
    height: 826px;
    left: 0px;
    top: 0%; }
  .ruthie_container .ruthie_wings {
    background: url(../images/wings-1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top-right;
    color: white;
    width: 436px;
    height: 545px;
    left: 110px;
    top: -70px; }
  .ruthie_container .ruthie_text {
    background: url(../images/ruthie_text.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top-right;
    color: white;
    width: 255px;
    height: 206px;
    left: 340px;
    top: 140px; }
  .ruthie_container .black_opaque {
    background: url(../images/black_opaque.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top-right;
    color: white;
    width: 555px;
    height: 185px;
    left: 150px;
    top: 150px; }
  .ruthie_container .web_zealot {
    color: #e1e1e1;
    font-family: "calibri";
    left: 430px;
    top: 185px; }

.nav_container {
  left: 0px;
  top: 0%;
  opacity: 0; }
  .nav_container .navigation {
    list-style-type: none;
    list-style: none;
    list-style-image: none;
    display: inline-block; }
    .nav_container .navigation li {
      display: inline-block; }
      .nav_container .navigation li a {
        width: 72px;
        height: 72px;
        display: inline-block; }
      .nav_container .navigation li a.email {
        background: url(../images/icon-email.png); }
        .nav_container .navigation li a.email:hover {
          background: url(../images/icon-email-h.png); }
      .nav_container .navigation li a.linkedin {
        background: url(../images/icon-linkedin.png); }
        .nav_container .navigation li a.linkedin:hover {
          background: url(../images/icon-linkedin-h.png); }
      .nav_container .navigation li a.twitter {
        background: url(../images/icon-twitter.png); }
        .nav_container .navigation li a.twitter:hover {
          background: url(../images/icon-twitter-h.png); }
      .nav_container .navigation li a.pinterest {
        background: url(../images/icon-pinterest.png); }
        .nav_container .navigation li a.pinterest:hover {
          background: url(../images/icon-pinterest-h.png); }
      .nav_container .navigation li a.tumblr {
        background: url(../images/icon-tumblr.png); }
        .nav_container .navigation li a.tumblr:hover {
          background: url(../images/icon-tumblr-h.png); }
      .nav_container .navigation li a.youtube {
        background: url(../images/icon-youtube.png); }
        .nav_container .navigation li a.youtube:hover {
          background: url(../images/icon-youtube-h.png); }

.ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

.pace.pace-inactive {
<<<<<<< HEAD
  display: none; }
=======
  display: none;
}
>>>>>>> 482d22b3b0ae40e89da3b5e238bee63b033151d3

.pace {
  background: white;
  width: 100%;
  height: 100%;
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
<<<<<<< HEAD
  z-index: 2000;
  position: fixed;
  padding: 20% 0 0 20%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.pace .pace-progress {
  z-index: 2000;
  position: absolute;
  height: 60px;
  width: 100px !important;
  margin: 0 auto;
  left: 0;
  right: 0; }

.pace .pace-progress:before {
  content: attr(data-progress-text);
  text-align: center;
  color: #fff;
  background: #9f9fff;
  border-radius: 50%;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 1;
  padding: 20% 0 7px;
  width: 50%;
  height: 40%;
  margin: 10px 0 0 30px;
  display: block;
  z-index: 999;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0; }

.pace .pace-progress:after {
  border-radius: 50%;
  border: 5px solid #9f9fff;
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation: spin-3 2s linear infinite;
  -moz-animation: spin-3 2s linear infinite;
  -o-animation: spin-3 2s linear infinite;
  animation: spin-3 2s linear infinite;
  margin: 0 auto;
  left: 0;
  right: 0; }

.pace .pace-activity {
  font-size: 15px;
  line-height: 1;
  z-index: 2000;
  position: absolute;
  height: 60px;
  width: 100px;
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0; }

.pace .pace-activity:before {
  border-radius: 50%;
  border: 5px solid #9f9fff;
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100px;
  -webkit-animation: spin-1 2s linear infinite;
  -moz-animation: spin-1 2s linear infinite;
  -o-animation: spin-1 2s linear infinite;
  animation: spin-1 2s linear infinite;
  margin: 0 auto;
  left: 0;
  right: 0; }

.pace .pace-activity:after {
=======

  z-index: 2000;
  position: fixed;
  height: 60px;
  width: 100px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pace .pace-progress {
  z-index: 2000;
  position: absolute;
  height: 60px;
  width: 100px !important;
}

.pace .pace-progress:before {
  content: attr(data-progress-text);
  text-align: center;
  color: #fff;
  background: #9f9fff;
  border-radius: 50%;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 1;
  padding: 20% 0 7px;
  width: 50%;
  height: 40%;
  margin: 10px 0 0 30px;
  display: block;
  z-index: 999;
  position: absolute;
}

.pace .pace-progress:after {
  border-radius: 50%;
  border: 5px solid #9f9fff;
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100px;

  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: spin-3 2s linear infinite;
     -moz-animation: spin-3 2s linear infinite;
       -o-animation: spin-3 2s linear infinite;
          animation: spin-3 2s linear infinite;
}

.pace .pace-activity {
  font-size: 15px;
  line-height: 1;
  z-index: 2000;
  position: absolute;
  height: 60px;
  width: 100px;

  display: block;
}

.pace .pace-activity:before {
  border-radius: 50%;
  border: 5px solid #9f9fff;
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100px;

  -webkit-animation: spin-1 2s linear infinite;
     -moz-animation: spin-1 2s linear infinite;
       -o-animation: spin-1 2s linear infinite;
          animation: spin-1 2s linear infinite;
}

.pace .pace-activity:after{
>>>>>>> 482d22b3b0ae40e89da3b5e238bee63b033151d3
  border-radius: 50%;
  border: 5px solid #9f9fff;
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100px;
<<<<<<< HEAD
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: spin-2 2s linear infinite;
  -moz-animation: spin-2 2s linear infinite;
  -o-animation: spin-2 2s linear infinite;
  animation: spin-2 2s linear infinite;
  margin: 0 auto;
  left: 0;
  right: 0; }

@-webkit-keyframes spin-1 {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(359deg); } }

@-moz-keyframes spin-1 {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg); } }

@-o-keyframes spin-1 {
  0% {
    -o-transform: rotate(0deg); }

  100% {
    -o-transform: rotate(359deg); } }

@keyframes spin-1 {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(359deg); } }

@-webkit-keyframes spin-2 {
  0% {
    -webkit-transform: rotate(59.8deg); }

  100% {
    -webkit-transform: rotate(418.8deg); } }

@-moz-keyframes spin-2 {
  0% {
    -moz-transform: rotate(59.8deg); }

  100% {
    -moz-transform: rotate(418.8deg); } }

@-o-keyframes spin-2 {
  0% {
    -o-transform: rotate(59.8deg); }

  100% {
    -o-transform: rotate(418.8deg); } }

@keyframes spin-2 {
  0% {
    transform: rotate(59.8deg); }

  100% {
    transform: rotate(418.8deg); } }

@-webkit-keyframes spin-3 {
  0% {
    -webkit-transform: rotate(119.6deg); }

  100% {
    -webkit-transform: rotate(478.6deg); } }

@-moz-keyframes spin-3 {
  0% {
    -moz-transform: rotate(119.6deg); }

  100% {
    -moz-transform: rotate(478.6deg); } }

@-o-keyframes spin-3 {
  0% {
    -o-transform: rotate(119.6deg); }

  100% {
    -o-transform: rotate(478.6deg); } }

@keyframes spin-3 {
  0% {
    transform: rotate(119.6deg); }

  100% {
    transform: rotate(478.6deg); } }
=======

  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: spin-2 2s linear infinite;
     -moz-animation: spin-2 2s linear infinite;
       -o-animation: spin-2 2s linear infinite;
          animation: spin-2 2s linear infinite;
}

@-webkit-keyframes spin-1 {
  0%  { -webkit-transform: rotate(0deg); }
  100%{ -webkit-transform: rotate(359deg);}
}
@-moz-keyframes spin-1 {
  0%  { -moz-transform: rotate(0deg); }
  100%{ -moz-transform: rotate(359deg);}
}
@-o-keyframes spin-1 {
  0%  { -o-transform: rotate(0deg); }
  100%{ -o-transform: rotate(359deg);}
}
@keyframes spin-1 {
  0%  { transform: rotate(0deg); }
  100%{ transform: rotate(359deg);}
}

@-webkit-keyframes spin-2 {
  0%  { -webkit-transform: rotate(59.8deg); }
  100%{ -webkit-transform: rotate(418.8deg);}
}
@-moz-keyframes spin-2 {
  0%  { -moz-transform: rotate(59.8deg); }
  100%{ -moz-transform: rotate(418.8deg);}
}
@-o-keyframes spin-2 {
  0%  { -o-transform: rotate(59.8deg); }
  100%{ -o-transform: rotate(418.8deg);}
}
@keyframes spin-2 {
  0%  { transform: rotate(59.8deg); }
  100%{ transform: rotate(418.8deg);}
}

@-webkit-keyframes spin-3 {
  0%  { -webkit-transform: rotate(119.6deg); }
  100%{ -webkit-transform: rotate(478.6deg);}
}
@-moz-keyframes spin-3 {
  0%  { -moz-transform: rotate(119.6deg); }
  100%{ -moz-transform: rotate(478.6deg);}
}
@-o-keyframes spin-3 {
  0%  { -o-transform: rotate(119.6deg); }
  100%{ -o-transform: rotate(478.6deg);}
}
@keyframes spin-3 {
  0%  { transform: rotate(119.6deg); }
  100%{ transform: rotate(478.6deg);}
}
>>>>>>> 482d22b3b0ae40e89da3b5e238bee63b033151d3
